@charset "UTF-8";
@import "public";
/* 课程直播 */

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #3a3a3a;
}

html {
    font-size: 16px;
}

a {
    color: #00B7FF;
}

.p-head {
    padding: 3px;
    color: #8bcaed;
}

.p-head-admin {
    color: #64c744;
}

.p-head-system {
    color: #aaaaaa;
}

/* 返回大厅 */
.return-home {
    position: fixed;
    left: 0;
    top: 3rem;
    background-color: rgba(28, 104, 151, 0.7);
    border-left: solid 2px #e57a4a;
    padding: 5px;
    color: white;
}

/* 结束直播div */
.finish-broadcast-div {
    padding: 2px;
    position: fixed;
    right: 0;
    border-radius: 5px;
    background-color: #f5a236;
    top: 3rem;
    color: #ffffff;
}

.total {
    margin-bottom: 5rem;
    height: auto;
    min-height: 400px;
}

.broadcast-room {
    text-align: center;
    font-size: 1.2rem;
    background-color: $grey_light;
    padding: 5px;
    font-weight: bold;
    color: rgb(71, 139, 241);
    -webkit-box-shadow: inset 0 0 4px #607d8d;
    -moz-box-shadow: inset 0 0 4px #607d8d;
    box-shadow: inset 0 0 4px #607d8d;
}

/****** 私聊信息 ******* */

/* 私人信息列表 */
.self-message-div {

}

/* 私人信息包裹 */
.self-message-item {

}

/* 信息头 */
.self-message-head {

}

/* 日期 */
.message-head-date {

}

/* 发信人 */
.message-head-from {

}

/* 信息体 */
.self-message-body {

}
.self-message-body > span {

}


/****** 聊天室成员******* */

/* 聊天室成员列表 */
.chatmates-list-div {
    min-height: 10rem;
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    font-size: 1.2rem;
}

/* 一个聊天室成员 */
.chatmates-item {
    background-color: $grey_light;
    margin: 2px 0 2px;
}

.chatmates-item:hover,
.chatmates-item:active {
    @include transition();
    @include transform(scale(1.1));
    @include boxShadowRound( 3px, $grey_dark);
}

/* 头像标致 */
.chatmates-item-icon {
    margin: 0 5px 0;
    display: inline-block;
    color: $blue;
}

/* 管理员头像标致 */
.chatmates-admin {
    color: $orange_light;
}

/* 昵称显示 */
.chatmates-item-nickName {
    font-size: 1rem;
    margin: 0 5px 0;
    display: inline-block;
    color: $blue_navy;
    border: solid 1px $blue_navy;
    border-radius: 5px;
    background-color: white;
}

.chatmates-item-nickName > span {
    padding-left: 2px;
    padding-right: 2px;
}

/* 发送@消息给成员 */
.chatmates-item-alt {
    margin: 0 5px 0;
    color: $blue_dark;
    display: inline-block;
}

.chatmates-item-alt > span {

}

/* 管理员禁言选项 */
.chatmates-item-ban {
    margin: 0 10px 0;
    color: $red;
    display: inline-block;
}

/******* 聊天室信息列表 ********/

/* 用户名 */
#name {
    padding: 2px;
    font-size: 1.2rem;
    border-bottom: dotted 1px grey;
    color: #98ccdf;
}

/* 消息列表 */
.message-list {
    padding: 5px;
    min-height: 400px;
}

/* 录音和文件 */
.send-div {
    font-size: 0;
    margin-top: 5px;
}

/* 聊天室成员列表 */
.chat-user-list {
    width: 20%;
    display: inline-block;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

/* 获取私人信息按钮 */
.chat-self-message {
    width: 20%;
    display: inline-block;
    font-size: 1.5rem;
    color: whitesmoke;
    text-align: center;
}

/* 有消息显示 */
.chat-self-message-rainbow {
    @include breathAnimation(1s);
}

/* 文件发送 */
.file-send-div {
    width: 30%;
    display: inline-block;
    font-size: 1.5rem;
    text-align: right;
    color: #f5b652;
    padding-right: 10px;
}

/* 录音 */
.record-div {
    text-shadow: 1px 1px 1px #2e3f44;
    width: 30%;
    display: inline-block;
    color: #478bf1;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 10px;
}

/* 正在录制 */
.recording {
    color: #fa262b;
}

/* 单条消息 */
.message-list-item {
    margin-top: 1rem;
    padding: 5px;
    color: #ffffff;
    background-color: #565656;
    border: solid 2px #000000;

}

/* 系统文本消息 */
.message-list-item-system {
}

/* 用户文本消息 */
.message-list-item-user {
    border-radius: 8px;
}

/* 图片消息 */
.message-list-item-image {
    width: 100%;
    height: auto;
}

/* 多媒体消息中的文本消息 */
.message-list-item-text {
    background-color: #686c88;
}

/* 视频消息 */
.message-list-item-video {
    width: 100%;
    height: auto;

}

/* 音频消息,在页面上是隐藏的 */
.message-list-item-audio {
    width: 100%;
    height: auto;
}

/* 音频自定义 */
.audio-define {
    position: relative;
    border: solid 1px blue;
    border-radius: 7px;
    width: 50%;
    padding: 5px;
    margin: 0.5rem;
    color: #1c6897;

    -webkit-box-shadow: inset 0 0 5px white;
    -moz-box-shadow: inset 0 0 5px white;
    box-shadow: inset 0 0 5px white;
}

/* audio已读 */
.audio-define-read {
    border: solid 2px #878787;
}

.audio-duration {
    display: inline-block;
    margin-left: 1rem;
    text-align: right;
}

/* 消息发送区域 */
.send-wrapper {
    z-index: 100;
    position: fixed;
    background-color: rgba(87, 114, 128, 0.88);
    color: white;
    position: fixed;
    left:0;
    bottom: 0;
    padding: 0.2rem;
    width: 100%;
    height: auto;
}
.send-wrapper-hidden {
    display: none;
}

/* 隐藏元素 */
.none {
    display: none;
}

/* 选择文件 */
#fileChoose {
    display: none;
}

/* 上传进度条 */
.progress {
    display: none;
}

/* 光晕效果 */
.light-shadow {
    -webkit-box-shadow:  0 0 7px #ffffff;
    -moz-box-shadow:  0 0 7px #ffffff;
    box-shadow:  0 0 7px #ffffff;
}