@charset "UTF-8";
@import "public";

/* 查看所有直播聊天室页面 */

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
    font-size: 16px;
}

a {
    color: $black_light;
}

#total {
    min-height: 20rem;
    border-top: solid 1px #838383;
    margin: 1rem 0 1rem;
}

#upAndDown {
    text-align: center;
}

.nav-tabs-border {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: auto;
    background-color: rgba(225,235,253,0.75);
}

/* 课程搜索 */
.broadcast-search-div {
    text-align: right;
    font-size: 0;
    margin-right: 1rem;
    margin-top: 1rem;
}

.broadcast-search-trigger {
    display: inline-block;
    width: 3rem;
    text-align: center;
    font-size: 1rem;
    color: black;
    border-radius: 10px;
    border: solid 1px black;
}
.broadcast-search-trigger:hover,
.broadcast-search-trigger:active {
    background-color: black;
    color: white;
}

/* 搜索弹出层 */
.broadcast-search-wrapper {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.90);

    @include animation(searchPop, 0.3s, ease-out, 0s, 1);
}

/* 搜索弹出层动画 */
@keyframes searchPop {
    0% {
        background-color: rgb(255, 255, 255);
        @include transform(translateY(5rem));
    }
    100% {
        background-color: rgba(255, 255, 255, 0.90);
        @include transform(translateY(0));
    }
}

.broadcast-search-cancel {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    color: black;
    width: 15%;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    margin-top: 1.5rem;
}

.broadcast-search-text {
    margin-top: 1.5rem;
    font-size: 1rem;
    display: inline-block;
    width: 70%;
    font-size: 1rem;
    height: 2rem;
}

.broadcast-search-button {
    display: inline-block;
    width: 15%;
    vertical-align: top;
    overflow: hidden;
    color: black;
    text-align: center;
    font-size: 1rem;
    height: 2rem;
    border-radius: 2px;
    line-height: 2rem;
    margin-top: 1.5rem;

    border-radius: 0 2px 2px 0;
}

.broadcast-search-wrapper > i {

}

.jump > span {
    color: #7a181d;
}
.jump:active {
    color: blue;
}

/* 评测类型 */
.type-item {
    float: left;
    display: none;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 5px;
    width: 25%;
    box-sizing: border-box;
    background-color: #588ac6;
}

.type-item:hover {
    background-color: #426dee;
    font-weight: bold;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

/* 评测条目 */
.content-item {
    position: relative;
    padding: 0.5rem;
    background-color: white;
    margin-top: 2rem;
    color: black;
    border: solid 1px black;
    margin-bottom: 1rem;
    font-size: 0;

    @include boxShadowRoundSide(2px, #444444);
}

.teacher {
    color: #4b4b4b;
    padding: 2px;
}

/* 图钉 */
.push-pin {
    position: absolute;
    top: -0.5rem;
    right: -0.1rem;
    font-size: 1rem;
}

/* 条目左边和右边 */
.content-item-left {
    display: inline-block;
    box-sizing: border-box;
    min-height: 4rem;
    height: auto;
    margin-top: 0;
    text-overflow: ellipsis;
    width: 70%;
    overflow: hidden;
}

.content-item-right {
    display: inline-block;
    box-sizing: border-box;
    min-height: 4rem;
    height: auto;
    width: 30%;
    vertical-align: top;
}

/* 类型信息 */
.type-img {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px auto 0;
}

.type-text {
    text-align: center;
    font-size: 1rem;
    color: black;
}

.content-item:hover {
    -webkit-box-shadow:  0px 0px 0px #ffffff;
    -moz-box-shadow:  0px 0px 0px #ffffff;
    box-shadow:  0px 0px 0px #ffffff;

    border: solid 2px black;
    box-sizing: border-box;

    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -ms-transition: border 0.4s;
    -o-transition: border 0.4s;
    transition: border 0.4s;
}

/* 评测标题 */
.content-item-title {
    font-size: 1.1rem;
    border-bottom: solid 1px #4b4b4b;
    word-spacing: 1px;
    letter-spacing: 2px;
}

/* 评测描述 */
.content-item-abstract {
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

/* 评测时间 */
.content-item-date {
    color: #4b4b4b;
    margin-bottom: 0;
}

.content-item-date > span {
    font-size: 1rem;
}

/*回到顶部或底部锚点*/
.page-anchor {
    display: none;
    position: fixed;
    right: 1em;
    bottom: 2em;
    z-index: 100;
    opacity: 0.7;
}

/* 数据加载loading信息 */
.loading-info {
    text-align: center;
    color: $grey_dark;
    margin-bottom: 1rem;
}

.milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    display: block;
    font-size: 2.5rem;
    color: #fcf6f0;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-align: center;
    background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
    padding: 5px 10px;
    border-radius: 10px;
}

/*文字特效*/
.box1 {
    text-shadow:
            0 0 0 rgb(188,178,188),1px 0 0 rgb(173,163,173),
            2px 0 0 rgb(157,147,157),3px 0 0 rgb(142,132,142),
            4px 0 0 rgb(126,116,126),5px 0 0 rgb(111,101,111),
            6px 0 0 rgb(95,85,95), 7px 0 0 rgb(79,69,79),
            8px 0 7px rgba(0,0,0,0.35),8px 0 1px rgba(0,0,0,0.5),
            0 0 7px rgba(0,0,0,.2);
}