@charset "UTF-8";
@import "public";

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #F3F3F3;
}

html {
    font-size: 16px;
}

a {
    color: $black;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* 布局DIV */
.header-div {
    margin-top: 2.5rem;
}

.slide-div {
    margin-top: 3.5rem;
}

.header {
    padding: 5px;
    position: fixed;
    z-index: 1003;
    top: 0;
    width: 100%;
    height: auto;
    font-size: 0;
    color: $black;
    background-color: rgba(255, 255, 255, 0.90);
    border-bottom: solid 1px $black;
}

.return-home {
    position: absolute;
    right: 1rem;
    line-height: 2.5rem;
    color: $black_light;
    font-size: 1.5rem;
}

/* 测评类型选择 */
#testTypeChoose2,
#testTypeChoose {
    font-size: 1.3rem;
    color: $black;
}

/* 铺满全屏的评测类型列表 */
.all-test-type {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(243, 243, 243, 0.95);
    @include animation(testTypeShow, 0.3s, ease-out, 0s, 1);
}
@keyframes testTypeShow {
    0% {
        @include transform(translateY(-100%));
    }
    100% {
        @include transform(translateY(0));
    }
}

.test-type-item {
    width: 33.3%;
    display: inline-block;
    height: auto;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    padding: 0.5rem;
}
.test-type > img {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin: auto;
    display: block;
}
.test-type-text {
    color: $black;
    font-size: 1rem;
}

.test-type {
    padding: 1rem 0 1rem;
    color: $black;
    background-color: white;
    -webkit-box-shadow:  0 2px 2px $grey_dark;
    -moz-box-shadow:  0 2px 2px $grey_dark;
    box-shadow:  0 2px 2px $grey_dark;
}
.test-type:hover,
.test-type:active {
    @include boxShadowRound(0, black);
}

/* 隐藏 */
.test-type-hidden {
    position: fixed;
    width:100%;
    bottom: 0;
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: solid 1px $black;
}

/* 评测类型 */
.type-item {
    float: left;
    display: none;
    text-align: center;
    font-size: 1rem;
    color: $black;
    border: solid 1px $black;
    border-radius: 5px;
    padding: 5px;
    width: 25%;
    box-sizing: border-box;
    background-color: white;
}

.type-item:hover {
    background-color: #426dee;
    font-weight: bold;
    @include transition(background-color, 0.3s)
}

.header-label > span {
    font-size: 1.3rem;
}

#userInfo {
    position: absolute;
    font-size: 1.3rem;
    top: 0.7rem;
    right: 1rem;
}

#upAndDown {
    text-align: center;
}

.header-label {
    text-align: center;
    font-size: 1.3rem;
    margin: auto;
    color: white;
}

/* 热门区块 */
.hot-title {
    width: 90%;
    margin: 0 auto;
    padding: 0.5rem;
    border-top: 0em;
    color: #7094a2;
    background-color: #f0f0f0;
    -webkit-box-shadow:  5px 5px 5px #7094a2;
    -moz-box-shadow:  5px 5px 5px #7094a2;
    box-shadow:  0 0 5px #7094a2;
}

.hot-container {
    margin-top: 1.5rem;
}

.hot-item-list {
    width: 90%;
    height: 100%;
    padding: 1em;
    background-color: white;
    margin: 0 auto;
}

.hot-item-list > li {
    border-bottom: solid 2px #efefef;
    list-style: none;
    margin-left: 5px;
    color: #79b0cf;
}

/* 具体的一个热门题目 */
.hot-item {
    color: $black;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
    word-spacing: 1px;
}

.hot-item:hover {
    text-decoration: underline;
}

.total-title {
    margin: 1rem auto 0.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    background-color: white;
    color: $black;
    @include boxShadowRound(3px, $black_light);
}

/* 主体部分 */
#total {
    margin-top: 1.5rem;
}

/* 评测条目 */
.content-item {
    position: relative;
    padding: 0.6rem;
    padding-bottom: 0;
    margin-top: 0.5rem;
    background-color: #ffffff;
    font-size: 0;
    border-left: solid 2px $blue;
}
.content-item:hover {
    -webkit-box-shadow: inset 0 0 1px black;
    -moz-box-shadow: inset 0 0 5px black;
    box-shadow: inset 0 0 2px black;
}

/* 图钉 */
.push-pin {
    position: absolute;
    top: -0.5rem;
    right: -0.1rem;
    font-size: 1rem;
}

/* 条目左边和右边 */
.content-item-left {
    display: inline-block;
    box-sizing: border-box;
    height: 6rem;
    margin-top: 0;
    text-overflow: ellipsis;
    color: #41545f;
    width: 70%;
    padding: 5px;
    overflow: hidden;
    background-color: white;
}

.content-item-right {
    display: inline-block;
    box-sizing: border-box;
    height: 6rem;
    width: 30%;
    vertical-align: top;
    border-left: solid 4px white;
    background-color: white;
}

/* 类型信息 */
.type-img {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px auto 0;
    border-radius: 10px;
}

.type-text {
    text-align: center;
    font-size: 1rem;
    color: $black_light;
    text-shadow: 0px 0px 1px #000;
}

/* 评测标题 */
.content-item-title {
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 2px;
    border-bottom: solid 1px $grey;
    text-decoration: none;
}
.content-item-title:hover {
    text-decoration: none;
}

/* 评测描述 */
.content-item-abstract {
    font-size: 1rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

/* 评测时间 */
.content-item-date {
    border-top: solid 2px $grey;
    margin-top: 5px;
    color: white;
    padding: 1px;
    text-align: center;
    margin-bottom: 0;
    color: $grey_dark;
}

.content-item-date > i {
    font-size: 1rem;
}

/* 数据加载loading信息 */
.loading-info {
    text-align: center;
    color: $grey_dark;
    margin: 1rem auto 1rem;
}