<!--adminHeader-->
<!--管理员管理页面的首部导航条-->

<!--样式-->
<style>
    #Brand {
          color: #f58030;
          font-weight: bold;
      }
    #Brand:hover {
        color: white;
    }
</style>

<header>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" id="headerNav">
            <div class="navbar-header">
                <a class="navbar-brand" href="/admin/info" id="Brand" name="top">启航</a>
                <button type="button" class="navbar-toggle"r data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/test/admin/manager" id="testManager">测评管理</a></li>
                    <li><a href="/test/admin/create" id="testCreate">测评创建</a></li>
                    <li><a href="/course/admin/edit" id="courseCreate">课程/直播发布</a></li>
                    <li><a href="/admin/routes" id="routes">路由查看</a></li>
                    <li><a href="/admin/login" id="routes">登录</a></li>
                    <li><a href="/admin/logout" id="routes">注销</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>