<!--离线课程参阅页面-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">

    <!--bootstrap样式-->
    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <!--页面样式-->
    <link rel='stylesheet' href='/stylesheets/course_adminEdit.css' />

    <!--jQuery-->
    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <!--加载Uditor-->
    <script type="text/javascript" src="/Ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/Ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" src="/Ueditor/lang/zh-cn/zh-cn.js"> </script>
    <!--加载bootstrap-->
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <!--页面脚本-->
    <script type="text/javascript" src="/javascripts/course_adminEdit.js"></script>

</head>

<body>

<!--上传窗口触发器-->
<div class="self-trigger self-trigger-upload" triggerTarget="self-container-upload">
    <span class="glyphicon glyphicon-cloud-upload"></span>
</div>
<!--视频,音频和图片上传窗口-->
<div class="self-container self-container-upload">
    <!--上传图片-->
    <div class="upload-img">
        <div class="">上传图片</div>
        <div class="">
            <input type="file" multiple=true id="fileUpload" size="5" value="选择" class="btn btn-default">
        </div>
        <!--上传进度条-->
        <div id="uploadImgProgress">
            <div class="progress-bar"></div>
        </div>
    </div>

    <!--上传视频-->
    <div class="upload-video">
        <div class="">上传视频</div>
        <div class="">
            <input type="file" multiple=true id="fileUpload" size="5" value="选择" class="btn btn-default">
        </div>
        <!--上传进度条-->
        <div id="uploadVideoProgress">
            <div class="progress-bar"></div>
        </div>
    </div>

    <!--上传音频-->
    <div class="upload-audio">
        <div class="">上传音频</div>
        <div class="">
            <input type="file" multiple=true id="fileUpload" size="5" value="选择" class="btn btn-default">
        </div>
        <!--上传进度条-->
        <div id="uploadAudioProgress">
            <div class="progress-bar"></div>
        </div>
    </div>
</div>

<!--预览窗口触发器-->
<div class="self-trigger self-trigger-preview" triggerTarget="self-container-preview">
    <span class="glyphicon glyphicon-folder-open"></span>
</div>
<!--视频预览,音频预览和图片预览-->
<div class="self-container self-container-preview">

</div>


<!--正文-->
<div class="container" id="total">
    <div class="row">
        <div class="col-md-2 col-md-offset-5 total-title"><%= title %></div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">标题</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="courseName" class="form-control"  type="text" placeholder="请输入课程标题">
        </div>
    </div>

    <!--分类-->
    <div class="row">
        <div class="col-md-2 col-md-offset-1 title border">分类</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 type">
            <div class="type-item">求职秘籍</div>
            <div class="type-item">职场技能</div>
            <div class="type-item">英语进阶</div>
            <div class="type-item">软件技巧</div>
            <div class="type-item">个人提升</div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">概述</div>

    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <input id="courseAbstract" class="form-control"  type="text" placeholder="请输入课程概述">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-1 border title">内容</div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 input-group">
            <script id="editorContent" type="text/plain" class="shadow"></script>
        </div>
    </div>

    <!--发表课程-->
    <div class="row">
        <div class="col-md-12" id="sendDiv">
            <button type="button" class="btn btn-default" id="sendCourse">发布 <span class="glyphicon glyphicon-send"></span></button>
        </div>
    </div>
</div>

<!--中以科创页脚-->
<%- include footer%>
<%- include modalWindow%>

</body>
</html>