
<!--课程直播间的列表-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/course_detail.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/course_detail.js"></script>
</head>
<body>