<!DOCTYPE html>
<head>
    <style type="text/css">
        /* footer */
        .footer {
            margin-bottom: 5px;
            padding: 0.5rem;
            text-align: center;
            min-height: 2rem;
            bottom: 0;
            border-top: solid 1px #6095d8;
            background-color: white;
        }

        .footer-img {
            display: inline-block;
            background: url("/images/icons/Ciitec.jpg") no-repeat;
            background-size: cover;
            width: 5rem;
            height: 2rem;
            margin: 0 auto;
        }

        .footer-text {
            display: inline-block;
            text-align: center;
            font-size: 1.5rem;
            color: #3b3d3b;
        }
    </style>
</head>
<body>

</body>
<!--用户系统主页的页脚-->
<footer class="footer">
    <div class="footer-img"></div>
    <div class="footer-text">中以科创 <a href="http://www.ciitec.net/">Ciitec</a></div>
</footer>