<link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css">

<style type="text/css">
        /* 首部 */
        #head {
            font-size: 0;
            height: 3rem;
            background: #7ca2b6;
            background: -webkit-linear-gradient(to bottom, #4f6774, #7ca2b6);
            background: linear-gradient(to bottom, #4f6774, #7ca2b6);
            box-sizing: border-box;
            border-bottom: solid 1px white;
        }

        #head a {
            text-decoration: none;
        }

        #head a:hover {
            color: white;
        }

        /* 公司标志 */
        .company-div {
            box-sizing: border-box;
            width: 2rem;
            height: 3rem;
            background: url("/images/icons/Ciitec_origin.jpg") no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            display: inline-block;

            -webkit-animation: rotate 4s infinite linear;
            -o-animation: rotate 4s infinite linear;
            animation: rotate 4s infinite linear;
        }

        /* 公司标语 */
        .slogan-div {
            text-align: center;
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
            height: 3rem;
            overflow: hidden;
            line-height: 3rem;
            display: inline-block;
            color: #98ccdf;
            text-shadow: 2px 2px 1px #41555f;
            font-size: 1.2rem;
        }

        .slogan-div:hover,.slogan-div:active {
            overflow: visible;
        }

        .slogan-div ul li {
            list-style: none;
            display: block;
            height: 2rem;
            line-height: 2rem;
        }

        .slogan-div ul li a {
            padding-left: 5px;
            padding-right: 5px;
            display: block;
            text-align: center;
            color: aliceblue;
            border-bottom: solid 1px white;

            -webkit-box-shadow:  3px 3px 3px #666666;
            -moz-box-shadow:  3px 3px 3px #666666;
            box-shadow:  3px 3px 3px #666666;
        }

        .slogan-div ul li a:active, .slogan-div ul li a:hover {
            -webkit-box-shadow: 0px 0px 0px #666666;
            -moz-box-shadow: 0px 0px 0px #666666;
            box-shadow:  0px 0px 0px #666666;
        }

        .slogan-div ul {
            margin: 0;
            padding: 0;
            background-color: #6e94a2;
            text-align: left;
            position: relative;
            z-index: 1002;

        }

        /* other信息 */
        .other-div{
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
            line-height: 3rem;
            display: inline-block;
            color: #ffffff;
            float: right;
            font-size: 1.4rem;
        }

        .other-div a {
            color: white !important;
        }

        /* 展播文字 */
        .slide-text-div {
            display: inline-block;
            height: 3rem;
            text-align: center;
            vertical-align: top;
            overflow: hidden;
            font-size: 0;
        }
        .slide-text-div > div {
            display: inline-block;
            line-height: 3rem;
            position: relative;
            font-size: 1rem;
            color: #ffffff;
            padding-left: 3px;
            padding-right: 3px;
        }
        .slide-text-top {

            -webkit-animation: slideTextTop;
            -o-animation: slideTextTop;
            animation: slideTextTop;

            -webkit-animation: slideTextTop 4s 1s infinite ease-in-out;
            -o-animation: slideTextTop 4s 1s infinite ease-in-out;
            animation: slideTextTop 4s 1s infinite ease-in-out;
        }

        .slide-text-bottom {

            -webkit-animation: slideTextBottom 4s 1s infinite ease-in-out;
            -o-animation: slideTextBottom 4s 1s infinite ease-in-out;
            animation: slideTextBottom 4s 1s infinite ease-in-out;

        }
        
        /* 展播文字动画 */
        @keyframes slideTextTop {
            0% {
                color: #909090;
                -webkit-transform: translateY(-2rem);
                -moz-transform: translateY(-2rem);
                -ms-transform: translateY(-2rem);
                -o-transform: translateY(-2rem);
                transform: translateY(-2rem);
            }

            50% {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
                color: #FFFFFF;
            }

            100% {
                -webkit-transform: translateY(-2rem);
                -moz-transform: translateY(-2rem);
                -ms-transform: translateY(-2rem);
                -o-transform: translateY(-2rem);
                transform: translateY(-2rem);
                color: #909090
            }
        }
        @keyframes slideTextBottom {
            0% {
                -webkit-transform: translateY(2rem);
                -moz-transform: translateY(2rem);
                -ms-transform: translateY(2rem);
                -o-transform: translateY(2rem);
                transform: translateY(2rem);
                color: #909090;
            }

            50% {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -ms-transform: translateY(0);
                -o-transform: translateY(0);
                transform: translateY(0);
                color: #FFFFFF;
            }

            100% {
                -webkit-transform: translateY(2rem);
                -moz-transform: translateY(2rem);
                -ms-transform: translateY(2rem);
                -o-transform: translateY(2rem);
                transform: translateY(2rem);
                color: #909090;
            }
        }
    
    @keyframes rotate {
        0% {
            -webkit-transform: translateY(0deg);
            -moz-transform: translateY(0deg);
            -ms-transform: translateY(0deg);
            -o-transform: translateY(0deg);
            transform: translateY(0deg);
        }
        100% {
            -webkit-transform: rotateY(360deg);
            -moz-transform: rotateY(360deg);
            -ms-transform: rotateY(360deg);
            -o-transform: rotateY(360deg);
            transform: rotateY(360deg);
        }
    }


</style>
<body>

<!--网页首部-->
<header id="head">
    <div class="container">
        <!--公司标志-->
        <a href="/recruitment/index">
            <div class="company-div"></div>
        </a>
        <!--口号-->
        <div class="slogan-div" href="/recruitment/index">
            <span>启航 <i class="icon-reorder"></i></span>
            <ul>
                <li><a href="/index">首页</a></li>
                <li><a href="/course/index">课程</a></li>
                <li><a href="/test/index">测评</a></li>
            </ul>
        </div>
        <!--展示文字-->
        <div class="slide-text-div">
            <div class="slide-text-top">测评</div>
            <div class="slide-text-bottom">课程</div>
            <div class="slide-text-top">招聘</div>
        </div>
        <!--其它信息-->
        <div class="other-div"><a href="/userInfo"><i class="icon-user"></i></a></div>
    </div>
</header>
</body>