<!--企业招聘主页,包含多个企业的列表-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <meta name="description" content="企业招聘信息" />
    <meta name="keywords" content="recruitment" />

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/recruitment_index.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/recruitment_index.js"></script>
</head>
<body>

<!--网页首部-->
<%include recruitment_header.ejs%>

<!--顶部显示标识-->
<div class="content-marker-div">
    <span class="content-marker">
    企业及招聘信息
</span>
</div>


<!--一个公司的招聘item
    <div class="company-border">
        <div class="company-item">
            遮蔽层
            <div class="shadow"></div>
            公司名称浮层
            <a class="company-title" href="/recruitment/detail/四川梓裕电子商务有限公司">
                四川梓裕电子商务有限公司
            </a>
        </div>
    </div>-->
<!--页面主要部分-->
<div class="container total">

</div>

<!--页脚导航部分-->
<div class="nav-footer">

    <div class="nav-footer-border">
        <div class="nav-footer-item" target="course">
            <label>课程</label>
        </div>

        <div class="nav-footer-item" target="test">
            <label>测评</label>
        </div>

        <div class="nav-footer-item" target="broadcast">
            <label>讨论组</label>
        </div>
    </div>
</div>

</body>