<head>
    <style type="text/css">
        /* 首部 */
        #head {
            height: 2rem;
            background: #4f6774;
            background: -webkit-linear-gradient(to bottom, #4f6774, #7092a4, #4f6774);
            background: linear-gradient(to bottom, #4f6774, #7092a4, #4f6774);
            box-sizing: border-box;
            margin-bottom: 1rem;
        }

        /* 公司标志 */
        .icon-div {
            box-sizing: border-box;
            width: 8rem;
            height: 2rem;
            background: url("/images/icons/Ciitec_origin.jpg") no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            display: inline-block;
            float: right;
        }

        /* 公司标语 */
        .slogan-div {
            background-color: white;
            box-sizing: border-box;
            border-bottom: solid 3px #dedede;

            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
            line-height: 2rem;
            display: inline-block;
            color: #e5691d;
            font-size: 1.5rem;
        }
    </style>
</head>
<body>
<!--网页首部-->
<header id="head">
    <div class="container">
        <!--口号-->
        <div class="slogan-div"><%= slogan %></div>
        <!--公司标志-->
        <div class="icon-div"></div>
    </div>
</header>
</body>