<!--页脚导航部分-->
<div class="nav-footer">

    <div class="nav-footer-item">
        课程
    </div>
    <div class="nav-footer-item nav-footer-center">
        企业
    </div>

    <div class="nav-footer-item">
        <a href="/test/index">测评</a>
    </div>

</div>