<head>
    <style type="text/css">
        /* 首部 */
        #head {
            height: 2rem;
            background: #7ca2b6;
            background: -webkit-linear-gradient(to bottom, #4f6774, #7ca2b6);
            background: linear-gradient(to bottom, #4f6774, #7ca2b6);
            box-sizing: border-box;
            border-bottom: solid 1px white;
        }

        #head a {
            text-decoration: none;
        }

        #head a:hover {
            color: white;
        }

        /* 公司标志 */
        .icon-div {
            box-sizing: border-box;
            width: 2rem;
            height: 2rem;
            background: url("/images/icons/Ciitec_origin.jpg") no-repeat center;
            -webkit-background-size: contain;
            background-size: contain;
            display: inline-block;

        }

        /* 公司标语 */
        .slogan-div {
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
            line-height: 2rem;
            display: inline-block;
            color: #98ccdf;
            text-shadow: 2px 2px 1px #41555f;
            font-size: 1.2rem;
        }

        /* other信息 */
        .other-div{
            box-sizing: border-box;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
            line-height: 2rem;
            display: inline-block;
            color: #8abacb;
            float: right;
            font-size: 1rem;
        }
    </style>
</head>
<body>

<!--网页首部-->
<header id="head">
    <div class="container">
        <!--公司标志-->
        <a href="/recruitment/index">
            <div class="icon-div"></div>
        </a>
        <!--口号-->
        <a class="slogan-div" href="/recruitment/index"><%= slogan %></a>
        <!--其它信息-->
        <div class="other-div"><%= other %></div>
    </div>
</header>
</body>