<!DOCTYPE html>
<head>
    <style type="text/css">
        /* 首部 */
        #head {
            height: 3rem;
            background-color: #4f6774;
            margin-bottom: 3rem;
            box-sizing: border-box;
        }

        /* 公司标志 */
        .icon-div {
            box-sizing: border-box;
            width: 8rem;
            height: 3rem;
            background: url("/images/icons/Ciitec_origin.jpg") no-repeat right;
            -webkit-background-size: contain;
            border: solid 1px #4f6774;
            background-size: contain;
            display: inline-block;
            float: right;
        }

        /* 公司标语 */
        .slogan-div {
            background-color: white;
            box-sizing: border-box;
            border-bottom: solid 3px #7094a2;
            border-left: solid 3px #7094a2;
            border-right: solid 3px #7094a2;

            padding-left: 10px;
            padding-right: 10px;
            vertical-align: top;
            line-height: 3rem;
            display: inline-block;
            color: #e5691d;
            font-size: 1.5rem;

            -webkit-box-shadow:  0 0 6px white;
            -moz-box-shadow:  0 0 6px white;
            box-shadow:  0 0 6px white;
        }
    </style>
</head>
<body>
<!--网页首部-->
<header id="head">
    <div class="container">
        <!--口号-->
        <div class="slogan-div"><%= slogan %></div>
        <!--公司标志-->
        <div class="icon-div"></div>
    </div>
</header>
</body>