<head>
    <style type="text/css">
        .slide-wrapper {
            position: relative;
            width: 90%;
            margin: auto;
            margin-top: 5rem;
            min-height: 10rem;
            height: auto;
            -webkit-box-shadow:  0 0 5px #808080;
            -moz-box-shadow:  0 0 5px #808080;
            box-shadow:  0 0 5px #808080;
        }
        .slide-item-list {
            width: 100%;
            height: 10rem;
            overflow: hidden;
        }
        /* 执行滑动操作的元素 */
        .slide-item {
            text-align: center;
            width: 100%;
            height: 100%;
            position: relative;
            box-sizing: border-box;
            background-color: #d8d8d8;
        }
        .slide-item > img {
            height: 10rem;
            width: auto;
        }
        .slide-trigger:hover {

        }
        .slide-trigger-left {
            position: absolute;
            z-index: 1000;
            width: 3rem;
            height: 100%;
            background: linear-gradient(to right, rgba(161, 215, 236, 0.6), rgba(255, 255, 255, 0.6));
            background: -webkit-linear-gradient(to right, rgba(161, 215, 236, 0.6), rgba(255, 255, 255, 0.6));
            top: 0;
            left: 0;
            color: #b4b4b4;
            font-weight: bold;
        }
        .slide-trigger-right {
            position: absolute;
            z-index: 1000;
            width: 3rem;
            height: 100%;
            background: linear-gradient(to left, rgba(161, 215, 236, 0.6), rgba(255, 255, 255, 0.6));
            background: -webkit-linear-gradient(to left, rgba(161, 215, 236, 0.6), rgba(255, 255, 255, 0.61));
            top: 0;
            right: 0;
            color: #b4b4b4;
            font-weight: bold;
        }
        .slide-trigger-right:hover {
            background: linear-gradient(to left, rgba(120, 161, 176, 0.6), rgba(255, 255, 255, 0.6));
            background: -webkit-linear-gradient(to left, rgba(120, 161, 176, 0.6), rgba(255, 255, 255, 0.6));
        }
        .slide-trigger-left:hover{
            background: linear-gradient(to right, rgba(120, 161, 176, 0.6), rgba(255, 255, 255, 0.6));
            background: -webkit-linear-gradient(to right, rgba(120, 161, 176, 0.6), rgba(255, 255, 255, 0.6));
        }
        .trigger-left-button, .trigger-right-button {
            margin-top: 3rem;
            width: 3rem;
            height: auto;
            font-size: 2rem;
            text-align: center;
        }
        .slide-trigger-left:hover, .slide-trigger-right:hover {
            transition: color 0.2s linear;
            color: #ffffff;
        }
        .slide-text {
            position: absolute;
            width: 100%;
            height: 2rem;
            overflow: hidden;
            color: white;
            display: none;
            text-align: center;
            background-color: rgba(39,42,48,0.6);
            bottom: 0;
            z-index: 1001;

        }
        .slide-point-list {
            position: absolute;
            z-index: 1000;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
        .slide-point {
            margin: 1px;
            display: inline-block;
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 50%;
            border: solid 2px white;
        }

    </style>



</head>

<body>
<!--图片幻灯片边界-->
<div class="slide-wrapper" id="slideWrapper">
    <!--所有需要展播的图片列表-->
    <div class="slide-item-list" id="slideItemList">
        <!--<div class="slide-item" id="slide1">-->
        <!--<img src="image/Javascript_1.jpg">-->
        <!--</div>-->
    </div>

    <!--翻页触发区域-->
    <div class="slide-trigger">
        <div class="slide-trigger-left" id="triggerLeft">
            <div class="trigger-left-button">&lt;</div>
        </div>
        <div class="slide-trigger-right" id="triggerRight">
            <div class="trigger-right-button">&gt;</div>
        </div>
    </div>
    <!--图片文字显示区域-->
    <div class="slide-text" id="slideText">
        text
    </div>
    <!--小白点页数显示区域-->
    <div class="slide-point-list" id="pointList">
        <!--<div class="slide-point" id="point1"></div>-->
    </div>
</div>
</body>

<!--<script type="text/javascript">-->
    <!--// dom加载完后执行的函数-->
    <!--window.onload = function () {-->

        <!--// 展播模块-->
        <!--window.slideView = (function () {-->

            <!--// 轮播初始化-->
            <!--var slideInit = function () {-->
                <!--// 页面滚动信息-->
                <!--var slideInfo  = {-->
                    <!--imageArray: [],-->
                    <!--//当前显示的图片位于imageArray的编号-->
                    <!--nowIndex: 0,-->
                    <!--// 下一张需要显示的图片位于imageArray的编号-->
                    <!--nextIndex: 0,-->
                    <!--// 滚动方向-->
                    <!--direction: 'left',-->
                    <!--// 需要滚动的宽度-->
                    <!--imageWidth: 0,-->
                    <!--imageHeight: 0,-->
                    <!--// 滚动的状态：是否正在滚动-->
                    <!--status: false-->
                <!--}-->
                <!--//所有待滑动的图片对象-->
                <!--// 获取图片信息-->
                <!--// 图片部件的宽度，用于滚动轮播-->
                <!--slideInfo.imageWidth = document.getElementById('slideWrapper').offsetWidth;-->
                <!--slideInfo.imageHeight = document.getElementById('slideWrapper').offsetHeight;-->
                <!--slideInfo.imageArray.push({-->
                    <!--imageUrl: "/images/courseSlide/Javascript_1.jpg",-->
                    <!--text: "这是JavaScript_1.jpg",-->
                    <!--visitUrl: "/images/courseSlide/Javascript_1.jpg",-->
                    <!--// Y轴移动的距离-->
                    <!--offsetHeight: 0-->
                <!--});-->
                <!--slideInfo.imageArray.push({-->
                    <!--imageUrl: "/images/courseSlide/Javascript_2.jpg",-->
                    <!--text: "这是JavaScript_2.jpg",-->
                    <!--visitUrl: "/images/courseSlide/Javascript_2.jpg",-->
                    <!--offsetHeight: 0-->
                <!--});-->
                <!--slideInfo.imageArray.push({-->
                    <!--imageUrl: "/images/courseSlide/Nodejs.jpg",-->
                    <!--text: "这是image/Nodejs.jpg",-->
                    <!--visitUrl: "/images/courseSlide/Nodejs.jpg",-->
                    <!--offsetHeight: 0-->
                <!--});-->
                <!--// 创建DOM-->
                <!--var slideItemList = document.getElementById('slideItemList');-->
                <!--var slideText = document.getElementById('slideText');-->
                <!--var pointList = document.getElementById('pointList');-->
                <!--for(var i = 0; i < slideInfo.imageArray.length;  i++){-->
                    <!--(function (i) {-->
                        <!--// 创建图片DOM-->
                        <!--var slideItem  = document.createElement('div');-->
                        <!--slideItem.setAttribute('class', 'slide-item');-->
                        <!--slideItem.setAttribute('id', 'slide' + i);-->

                        <!--var slideImage = document.createElement('img');-->
                        <!--slideImage.setAttribute('src', slideInfo.imageArray[i].imageUrl);-->
                        <!--slideItem.onmouseover = function () {-->
                            <!--slideText.innerText  = slideInfo.imageArray[i].text;-->
                            <!--slideText.style.display = 'block';-->
                        <!--}-->
                        <!--slideItem.onmouseout = function () {-->
                            <!--slideText.style.display = 'none';-->
                        <!--};-->
                        <!--// 添加图片DOM-->
                        <!--slideItem.appendChild(slideImage);-->
                        <!--slideItemList.appendChild(slideItem);-->
                        <!--// 创建滚动小白点DOM-->
                        <!--var point = document.createElement('div');-->
                        <!--point.setAttribute('id', 'point' + i);-->
                        <!--point.setAttribute('class', 'slide-point');-->
                        <!--if(i == 0){-->
                            <!--point.style['background-color'] = '#4e6672';-->
                        <!--}-->

                        <!--// 添加小白点DOM-->
                        <!--pointList.appendChild(point);-->
                    <!--})(i);-->
                <!--}-->
                <!--// 绑定滚动触发事件-->
                <!--var triggerLeft = document.getElementById('triggerLeft');-->
                <!--var triggerRight = document.getElementById('triggerRight');-->
                <!--triggerLeft.onclick = function () {-->
                    <!--slideAction('left');-->
                <!--};-->
                <!--triggerRight.onclick = function () {-->
                    <!--slideAction('right');-->
                <!--};-->
                <!--// 6s自动轮播-->
                <!--// 循环滚动方法-->
                <!--function slideRoll() {-->
                    <!--// 正在轮播-->
                    <!--if(slideInfo.status){-->
                        <!--return;-->
                    <!--}-->
                    <!--triggerRight.click();-->
                <!--}-->
                <!--var timer = setInterval(slideRoll, 10000);-->
                <!--slideItemList.onmouseover = function () {-->
                    <!--clearInterval(timer);-->
                <!--};-->
                <!--slideItemList.onmouseout = function () {-->
                    <!--timer = setInterval(slideRoll, 10000);-->
                <!--};-->
                <!--// 窗口大小变化时触发的函数-->
                <!--window.onresize = function () {-->
<!--//                        clearInterval(timer);-->
                    <!--slideInfo.imageWidth = document.getElementById('slideWrapper').offsetWidth;-->
                    <!--slideInfo.imageHeight = document.getElementById('slideWrapper').offsetHeight;-->
                <!--}-->

                <!--// 循环调用的滚动事件-->
                <!--function slideAction(direction) {-->

                    <!--// 动画触发的时候不能点击-->
                    <!--if(slideInfo.status){-->
                        <!--return-->
                    <!--}-->
                    <!--// direction滚动方向-->
                    <!--if(direction == 'left'){-->
                        <!--slideInfo.nextIndex =-->
                            <!--slideInfo.nowIndex == slideInfo.imageArray.length - 1 ? 0 : slideInfo.nowIndex + 1;-->
                    <!--}else {-->
                        <!--slideInfo.nextIndex =-->
                            <!--slideInfo.nowIndex == 0 ? slideInfo.imageArray.length - 1 : slideInfo.nowIndex - 1;-->
                    <!--}-->

                    <!--// 除了nowIndex和nextIndex之外的所有元素隐藏-->
                    <!--for(var i = 0; i < slideInfo.imageArray.length; i++){-->

                        <!--(function (i) {-->
                            <!--slideInfo.imageArray[i].offsetHeight = i * slideInfo.imageHeight;-->
                        <!--})(i);-->
                    <!--}-->

                    <!--// 当前滚动部件-->
                    <!--var nowSlide = document.getElementById('slide' + slideInfo.nowIndex);-->
                    <!--var nextSlide = document.getElementById('slide' + slideInfo.nextIndex);-->
                    <!--// 在一定时间内移动X坐标-->
                    <!--var width = slideInfo.imageWidth;-->

                    <!--function slide() {-->
                        <!--slideInfo.status = true;-->
                        <!--// X坐标-->
                        <!--var X_left = Number(nowSlide.style.left.substr(0, nowSlide.style.left.length - 2));-->
                        <!--if(direction == 'left'){-->
                            <!--&#45;&#45;X_left;-->
                            <!--nowSlide.style.left = X_left + 'px';-->
                            <!--nextSlide.style.left = X_left + slideInfo.imageWidth + 'px';-->
                            <!--nextSlide.style.top = -slideInfo.imageArray[slideInfo.nextIndex].offsetHeight + 'px';-->
                        <!--}else{-->
                            <!--++X_left;-->
                            <!--nowSlide.style.left = X_left + 'px';-->
                            <!--nextSlide.style.left = X_left - slideInfo.imageWidth + 'px';-->
                            <!--nextSlide.style.top = -slideInfo.imageArray[slideInfo.nextIndex].offsetHeight + 'px';-->
                        <!--}-->
                        <!--if(&#45;&#45;width == 0){-->
                            <!--document.getElementById('point' + slideInfo.nowIndex).style['background-color'] = '#FFFFFF'-->
                            <!--// 滚动完成-->
                            <!--slideInfo.nowIndex = slideInfo.nextIndex;-->
                            <!--document.getElementById('point' + slideInfo.nowIndex).style['background-color'] = '#4e6672'-->
                            <!--slideInfo.status = false;-->
                            <!--return;-->
                        <!--}else {-->
                            <!--setTimeout(slide, 5);-->
                        <!--}-->
                    <!--}-->
                    <!--setTimeout(slide, 5);-->
                <!--}-->
            <!--};-->

            <!--return {-->
                <!--init: slideInit-->
            <!--};-->
        <!--})();-->
    <!--};-->

<!--</script>-->