<!--adminHeader-->
<!--管理员管理页面的首部导航条-->

<header>
    <div>
        <nav class="navbar navbar-inverse" role="navigation" id="headerNav">
            <div class="navbar-header">
                <a class="navbar-brand" id="Brand" name="top"><b>Admin</b></a>
                <button type="button" class="navbar-toggle"r data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/test/admin/manager" id="manager">管理测评</a></li>
                    <li><a href="/test/admin/create" id="create">创建测评</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>