<!--adminManager-->
<!--管理员管理所有题目的页面,即增删查改-->

<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/test_adminManager.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/test_adminManager.js"></script>
</head>

<body>

<!--首部导航-->
<header class="head">
    <% include test_adminHeader.ejs%>
</header>

<!--主要内容管理部分-->
<div class="container total">

    <!--条件筛选-->
    <div class="col-md-12 total-condition">
        <div class="legend">指定筛选条件</div>

        <div class="col-md-2 title">测试类型</div>
        <div class="col-md-12 condition-testType">
            <label class="checkbox-inline"><input type="checkbox" value="character" class="condition-testType-item">性格测试</label>
            <label class="checkbox-inline"><input type="checkbox" value="potential" class="condition-testType-item">潜能测试</label>
            <label class="checkbox-inline"><input type="checkbox" value="communication" class="condition-testType-item">交际测试</label>
            <label class="checkbox-inline"><input type="checkbox" value="emotion" class="condition-testType-item">情感测试</label>
            <label class="checkbox-inline"><input type="checkbox" value="personality" class="condition-testType-item">人格测试</label>
        </div>

        <div class="col-md-2 title">测试题目</div>
        <div class="col-md-12 condition-testTitle">
            <input type="text" id="testTitle" placeholder="可以指定某一个具体的题目...">
        </div>

        <div class="col-md-2 title">筛选条数</div>
        <div class="col-md-12 condition-number">
            <input type="number" placeholder="结果数" id="number">
        </div>
        <div class="col-md-12 submit-div">
            <input type="button" id="allSubmit" class="btn btn-default" value="搜索所有">
            <input type="button" id="conditionSubmit" class="btn btn-success" value="筛选结果">
        </div>
    </div>

    <!--所有评测数据的表格-->
    <div class="col-md-12 table table-responsive total-tests">

        <div class="legend">所有数据</div>
        <table class="table table-hover table-striped" id="testTable">
            <tr id="tableHead">
                <th>标题</th>
                <th>类型</th>
                <th>创建日期</th>
                <th>得分模式</th>
                <th>点击量</th>
                <th>预览</th>
                <th>编辑</th>
                <th>删除</th>
            </tr>

        </table>

        <!--分页导航-->
        <ul class="pagination" id="pageNav">
            <li><a id="first">首页</a></li>
            <li class="page-number"><a>1</a></li>
            <li class="page-number"><a>2</a></li>
            <li class="page-number"><a>3</a></li>
            <li class="page-number"><a>4</a></li>
            <li class="page-number"><a>5</a></li>
            <li class="page-number"><a>6</a></li>
            <li class="page-number"><a>7</a></li>
            <li class="page-number"><a>8</a></li>
            <li class="page-number"><a>9</a></li>
            <li class="page-number"><a>10</a></li>
            <li><a id="last">&laquo;</a></li>
            <li><a id="next">&raquo;</a></li>
        </ul>
    </div>

</div>

<!--模态弹窗-->
<% include modalWindow.ejs%>

<!--题目预览模态窗口-->
<% include test_preview.ejs%>

<!--页脚导航-->
<footer>
    <% include footer.ejs%>
</footer>
</body>
