<!--测评分类选择页面-->
<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/lib/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/test_classification.css' />

    <script type="text/javascript" src="/javascripts/lib/jquery-3.1.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/lib/mine/nojsja.js"></script>
    <script type="text/javascript" src="/javascripts/test_classification.js"></script>
</head>

<body>

<!--分类列表-->
<div class="classification-container">

    <!--<div class="classification-item">-->

    <!--<a class="classification-item-image">-->
    <!--<img src="/images/courseType/english.jpg">-->
    <!--</a>-->
    <!--<div class="classification-item-title">-->
    <!--<span>职场技能</span>-->
    <!--</div>-->
    <!--<div class="classification-item-number">5 total</div>-->
    <!--<div class="classification-item-pointer">-->
    <!--<i class="icon-double-angle-right"></i>-->
    <!--</div>-->
    <!--</div>-->

</div>

</body>

<%- include hoverButton.ejs %>
</html>