@charset "UTF-8";
/* 课程编辑页面 */
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f1f1f1 !important; }

html {
  font-size: 16px; }

a {
  color: #00B7FF; }

/**********************自定义上传和预览窗口***********************/
.self-container {
  padding: 1rem;
  display: none;
  position: fixed;
  width: 50%;
  min-height: 400px;
  max-height: 800px;
  overflow-y: auto;
  border-radius: 5px;
  height: auto;
  border: solid 1px #3b3d3b; }

#uploadImgProgress,
#uploadVideoProgress,
#uploadAudioProgress {
  margin-top: 1em;
  height: 1.5em;
  width: 20em;
  border: solid 1px #ffffff; }

.progress-bar {
  height: 100%;
  background-color: #238eae; }

/* 标题 */
.upload-title {
  margin: 1rem;
  font-weight: bold;
  font-size: 1.5rem; }

/* 上传编辑区域 */
.self-container-upload {
  top: 8rem;
  left: 3rem;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.8); }

/* 视频,图片和音频预览区域 */
.self-container-preview {
  top: 8rem;
  right: 3rem;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.9); }

/* 导入课程 */
.self-container-load {
  top: 12rem;
  left: 3rem;
  min-height: 200px;
  height: auto;
  z-index: 1001;
  background-color: rgba(243, 243, 243, 0.9); }

/* 预览选择 */
.preview-type-div {
  position: fixed;
  margin-left: 0; }

/* 选项以及它的交互效果 */
.preview-type {
  text-align: center;
  width: 5rem;
  margin-top: 5px;
  margin-bottom: 5px;
  border: solid 1px #3b3d3b;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 100; }

.preview-type:hover {
  background-color: rgba(36, 36, 36, 0.85);
  color: white;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

/* 点击后 */
.preview-type_click {
  background-color: #3b3d3b;
  color: white; }

/* 预览数据列表 */
/* 预览图片 */
.list-item-image {
  text-align: center;
  float: left;
  width: 50%;
  overflow: hidden;
  height: 200px;
  border: solid 2px #3b3d3b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 点击效果 */
.list-item-image_click {
  background-color: rgba(76, 116, 238, 0.92); }

.list-item-image > img {
  height: auto;
  width: 100%; }

/* 图片点击效果 */
.img_click {
  opacity: 0.5; }

/* 预览视频 */
.list-item-video {
  padding: 5px;
  float: left;
  width: 50%;
  height: 300px;
  overflow: scroll;
  border: solid 1px white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 10px #1c6897;
  -moz-box-shadow: inset 0 0 10px  #1c6897;
  box-shadow: inset 0 0 10px  #1c6897; }

.list-item-video_click {
  background-color: #b87434; }

.list-item-video > video {
  height: 100%;
  width: auto; }

/* 视频点击添加事件 */
.video_click {
  opacity: 0.5; }

/* 预览音频 */
.list-item-audio {
  margin-top: 1rem;
  width: 100%;
  height: 2rem; }

.list-item-audio > audio {
  width: 50%;
  height: auto;
  float: left; }

.audio-text {
  text-align: center;
  font-weight: bold;
  color: #192f7a;
  border: solid 1px #192f7a;
  width: 80%;
  margin: 0.5rem auto 0.5rem; }

/* audio-text点击事件 */
.audio-text_click {
  background-color: #192f7a;
  color: #FFFFFF; }

/* 触发按钮 */
.self-trigger {
  border-radius: 50%;
  text-align: center;
  background-color: #3b3d3b;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 3rem;
  position: fixed;
  width: 3rem;
  height: 3rem;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

.self-trigger:hover {
  color: #3b3d3b;
  background-color: #FFFFFF; }

/* 上传区域触发 */
.self-trigger-upload {
  left: 1rem;
  top: 6rem; }

/* 预览区域触发 */
.self-trigger-preview {
  right: 1rem;
  top: 6rem; }

/* 载入课程 */
.self-trigger-load {
  left: 1rem;
  top: 11rem; }

/******************正文主体编辑部分********************/
.total-title {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: 1rem;
  font-family: 黑体;
  font-size: 2.5rem;
  color: #3b3d3b; }

.type {
  margin-bottom: 1em; }

#total {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1.3rem; }

#typeTextChina,
#typeTextEnglish {
  width: 8rem;
  font-size: 1.5rem; }

/* 编辑标题 */
.title {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  font-size: 2rem;
  border: solid 1px #3b3d3b;
  background-color: #eaeaea;
  color: #535353;
  text-align: center;
  -webkit-box-shadow: 0 3px 3px #3b3d3b;
  -moz-box-shadow: 0 3px 3px #3b3d3b;
  box-shadow: 0 3px 3px #3b3d3b; }

/* 组件阴影 */
.shadow {
  -webkit-box-shadow: 0 0 10px #353846;
  -moz-box-shadow: 0 0 10px #353846;
  box-shadow: 0 0 10px #353846; }

#editorContent {
  margin-top: 1rem;
  margin-bottom: 1.5rem; }

.tags-row {
  margin-bottom: 1em; }

/* 标签 */
#tagText {
  width: 8rem; }

.tag-list {
  font-size: 0;
  margin-top: 5px;
  height: 4.5rem;
  background-color: #eaeaea; }

.tag-list-item {
  font-size: 1.5rem;
  padding: 3px;
  margin: 1rem;
  display: inline-block;
  background-color: #f58030;
  border-radius: 5px;
  border: solid 1px white;
  color: white;
  font-weight: bold; }

.tag-list-item:hover {
  border: solid 1px #f58030;
  background-color: transparent;
  color: #f58030; }

/* 类型描述 */
.type-item {
  font-size: 1.5rem;
  width: 25%;
  word-spacing: 2px;
  letter-spacing: 2px;
  display: inline-block;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5rem;
  font-family: 华文中宋;
  color: #2f2f2f;
  border: solid 1px #2f2f2f;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear; }

/* 点击效果 */
.type-item_click {
  -webkit-box-shadow: 0 3px 3px #2f2f2f;
  -moz-box-shadow: 0 3px 3px #2f2f2f;
  box-shadow: 0 3px 3px #2f2f2f; }

/*消除inline-block的间隙*/
.tag-father {
  font-size: 0; }

.tag-div {
  font-size: 1rem;
  display: inline-block;
  width: 25%;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: double 1px #238eae;
  padding: 0.5em;
  font-family: 微软雅黑;
  color: #238eae; }

#sendDiv {
  text-align: center; }

/* 上传课程 */
#sendCourse {
  border: solid 1px;
  margin-bottom: 1em;
  margin-top: 1em; }

.tips {
  font-family: 微软雅黑;
  font-size: 1.3em;
  word-spacing: 8px;
  letter-spacing: 1px; }

.spacing {
  word-spacing: 8px;
  letter-spacing: 1px; }

/**********************自定义上传和预览窗口**************************/
.footer {
  margin-bottom: 5px;
  padding: 0.5rem;
  text-align: center;
  min-height: 2rem;
  bottom: 0;
  border-top: solid 1px #6095d8;
  background-color: white; }

.footer-img {
  display: inline-block;
  background: url("/images/icons/Ciitec.jpg") no-repeat;
  background-size: cover;
  width: 5rem;
  height: 2rem;
  margin: 0 auto; }

.footer-text {
  display: inline-block;
  text-align: center;
  font-size: 1.5rem;
  color: #3b3d3b; }

/*# sourceMappingURL=course_adminEdit.css.map */
