/* 课程详情页面 */

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #f8ffff;
}

a {
    color: #00B7FF;
}

/*首部 header*/
.header {
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 0.5rem;
    width: 100%;
    min-height: 2rem;
    height: auto;
    background-color: #e3e6df;
    font-size: 0;
    -webkit-box-shadow: 0px 0px 10px #a2a5a2;
    -moz-box-shadow:  0px 0px 10px #a2a5a2;
    box-shadow:  0px 0px 10px #a2a5a2;
}

.header-label {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: #5a8ecb;
    text-shadow: 2px 2px 0 white;
    line-height: 2rem;
    font-weight: bold;
}

.header-label span {
    text-shadow: 0 0 0;
}

/* 返回主页按钮 */
.return-home {
    position: absolute;
    right: 10px;
    color: #1aa646;
    font-size: 2rem;
}
.return-home:active {
    color: #85cd6d;
}

/* 评测介绍主体部分 */
.detail-head {
    min-height: 10rem;
    padding-top: 5px;
    height: auto;
    background-color: #588ac6;
    width: 90%;
    margin: 5rem auto 2rem;
}

.detail-head-img {
    border: solid 1px white;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem auto 1rem;
    background: url("/images/courseType/english.jpg") no-repeat;
    background-size: cover;

    -webkit-box-shadow: 0px 0px 10px white;
    -moz-box-shadow: 0px 0px 10px white;
    box-shadow:  0px 0px 10px white;
}

.detail-head-type {
    text-align: center;
    color: #d8d8d8;
}

.detail-head-title {
    text-align: center;
    color: #f3ffff;
    font-size: 2rem;
    text-shadow: 2px 2px 1px #676767;
}

.detail-head-other {
    text-align: center;
}

/* 首部其它信息 */
.other-date {
    height: 2rem;
    line-height: 2rem;
    color: #969696;
    background-color: #3b3d3b;
    text-align: center;
    width: 100%;
}

/* 详细介绍 */
.detail-body {
    height: auto;
    min-height: 10rem;
    margin: 2rem auto 2rem;
    background-color: #bfbfbf;
}

.detail-body-abstract {
    width: 90%;
    margin: auto;
    background-color: #f4f7f4;
}

.abstract {
    padding: 5px;
    font-size: 1.5rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    min-height: 10rem;
    font-weight: bold;
    color: #676e67;
}

/* 开始按钮 */
#startDiv {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*文字特效*/
.box1 {
    text-shadow:
            0 0 0 rgb(188,178,188),1px 0 0 rgb(173,163,173),
            2px 0 0 rgb(157,147,157),3px 0 0 rgb(142,132,142),
            4px 0 0 rgb(126,116,126),5px 0 0 rgb(111,101,111),
            6px 0 0 rgb(95,85,95), 7px 0 0 rgb(79,69,79),
            8px 0 7px rgba(0,0,0,0.35),8px 0 1px rgba(0,0,0,0.5),
            0 0 7px rgba(0,0,0,.2);
}
