/* 查看所有直播聊天室页面 */

body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
    font-size: 16px;
}

a {
    color: #00B7FF;
}

#total {
    margin-top: 1rem;
    margin-bottom: 1rem;
    min-height: 20rem;
}

#upAndDown {
    text-align: center;
}

.nav-tabs-border {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 100%;
    height: auto;
    background-color: rgba(225,235,253,0.75);
}

.jump > span {
    color: #7a181d;
}
.jump:active {
    color: blue;
}

/* 评测类型 */
.type-item {
    float: left;
    display: none;
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
    border: solid 1px #ffffff;
    border-radius: 5px;
    padding: 5px;
    width: 25%;
    box-sizing: border-box;
    background-color: #588ac6;
}

.type-item:hover {
    background-color: #426dee;
    font-weight: bold;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -ms-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

/* 不同颜色的shadow */
.shadow-blue {
    -webkit-box-shadow:  0px 0px 5px #081263;
    -moz-box-shadow:  0px 0px 5px #081263;
    box-shadow:  0px 0px 5px #081263;
}
.shadow-pink {
    -webkit-box-shadow:  0px 0px 5px pink;
    -moz-box-shadow:  0px 0px 5px pink;
    box-shadow:  0px 0px 5px pink;
}
.shadow-grey {
    -webkit-box-shadow:  0px 0px 5px grey;
    -moz-box-shadow:  0px 0px 5px grey;
    box-shadow:  0px 0px 5px grey;
}

.shadow-green {
    -webkit-box-shadow:  0px 0px 5px #148036;
    -moz-box-shadow:  0px 0px 5px #148036;
    box-shadow:  0px 0px 5px #148036;
}

/* 评测条目 */
.content-item {
    position: relative;
    padding: 0.5rem;
    background-color: #e8ece9;
    margin-top: 1rem;
    border: solid 2px #ffffff;
    margin-bottom: 1rem;
    font-size: 0;
}

.teacher {
    color: #577380;
    padding: 2px;
}

/* 图钉 */
.push-pin {
    position: absolute;
    top: -1rem;
    right: 0;
    font-size: 1.5rem;
}

/* 条目左边和右边 */
.content-item-left {
    display: inline-block;
    box-sizing: border-box;
    min-height: 6rem;
    height: auto;
    margin-top: 0;
    text-overflow: ellipsis;
    width: 70%;
    overflow: hidden;
}

.content-item-right {
    display: inline-block;
    box-sizing: border-box;
    min-height: 6rem;
    height: auto;
    width: 30%;
    vertical-align: top;
}

/* 类型信息 */
.type-img {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    margin: 5px auto 0;
    border: solid 2px #979797;
}

.type-text {
    text-align: center;
    font-size: 1rem;
    text-shadow: 2px 2px 2px #395980;
    color: #f3f3f3;
}

.content-item:hover {
    -webkit-box-shadow:  0px 0px 0px #ffffff;
    -moz-box-shadow:  0px 0px 0px #ffffff;
    box-shadow:  0px 0px 0px #ffffff;

    border: solid 2px #c8cbc8;
    box-sizing: border-box;

    -webkit-transition: border 0.4s;
    -moz-transition: border 0.4s;
    -ms-transition: border 0.4s;
    -o-transition: border 0.4s;
    transition: border 0.4s;
}

/* 评测标题 */
.content-item-title {
    font-size: 1.3rem;
    border-bottom: solid 1px #bcbfbc;
    word-spacing: 1px;
    letter-spacing: 2px;
}

/* 评测描述 */
.content-item-abstract {
    font-size: 1.2rem;
    word-spacing: 1px;
    letter-spacing: 1px;
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}

/* 评测时间 */
.content-item-date {
    color: #808080;
    margin-bottom: 0;
}

.content-item-date > span {
    font-size: 1rem;
}

/*回到顶部或底部锚点*/
.page-anchor {
    display: none;
    position: fixed;
    right: 1em;
    bottom: 2em;
    z-index: 100;
    opacity: 0.7;
}

/* 数据加载loading信息 */
.loading-info {
    text-align: center;
    margin-bottom: 1rem;
}

.milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    display: block;
    font-size: 2.5rem;
    color: #fcf6f0;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-align: center;
    background: linear-gradient(to bottom, #ece4d9 0%,#e9dfd1 100%);
    padding: 5px 10px;
    border-radius: 10px;
}

/*文字特效*/
.box1 {
    text-shadow:
            0 0 0 rgb(188,178,188),1px 0 0 rgb(173,163,173),
            2px 0 0 rgb(157,147,157),3px 0 0 rgb(142,132,142),
            4px 0 0 rgb(126,116,126),5px 0 0 rgb(111,101,111),
            6px 0 0 rgb(95,85,95), 7px 0 0 rgb(79,69,79),
            8px 0 7px rgba(0,0,0,0.35),8px 0 1px rgba(0,0,0,0.5),
            0 0 7px rgba(0,0,0,.2);
}