body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

html {
    font-size: 16px;
}

a {
    color: #00B7FF;
}

/* 消息首部突出 */
.p-head {
    padding: 3px;
    color: #8bcaed;
}

.p-head-admin {
    color: #70df4c;
}

.p-head-system {
    color: #aaaaaa;
}

/* 重要部分 */
.total {
    min-height: 10rem;
    width: 100%;
    height: auto;
}

/* 课程首部 */
.course-head {
    background-color: #3f51b5;
}

/* 课程名 */
#courseName {
    margin-bottom: 1rem;
    color: #ffffff;
    padding: 2px;
    text-align: left;
    font-size: 1.3rem;
    background: #475bcb;
    background: -webkit-linear-gradient(to bottom, #3f51b5, #475bcb);
    background:linear-gradient(to bottom, #3f51b5, #475bcb);
}

/* 课程内容 */
#courseContent {
    width : 95%;
    margin: 1rem auto 1rem;
    color: #4e4e4e;
    background-color : #efefef;
    padding: 5px;
    overflow-x: hidden;
    word-spacing: 1px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
}

/* 自己设置图片格式 */
#courseContent img,
#courseContent video{
    width: 100%;
    height: auto;
    margin: 0.5rem;

    -webkit-box-shadow:  0 0 5px #3f4b81;
    -moz-box-shadow:  0 0 5px #3f4b81;
    box-shadow:  0 0 5px #3f4b81;
}

/* 音频 */
#courseContent audio {

    border: solid 1px #f58a4a;
    width: 100%;
    height: auto;
    margin: 0.5rem;
}

.info-div{
}

/* 课程类型 */
/* 课程发布时间 */
/* 课程讲师 */
#courseType{
    display: inline-block;
    margin-left: 0.5rem;
    padding: 2px;
    border: solid 1px #ffffff;
    border-radius: 5px;
    background-color: #78a1b0;
    color: white;
    font-size: 0.9rem;
    text-shadow: 1px 1px 0 #2a3083;
}
#teacher,#date{
    display: inline-block;
    color: #ffffff;
    padding: 5px;
    font-size: 1rem;
}


/* 消息列表 */
.message-list {
    padding: 10px;
    min-height: 5rem;
}

/* 单条消息 */
.message-list-item {
    margin-top: 1rem;
    padding: 5px;
    color: #577280;
    border-top: solid 1px #c2c2c2;
    background-color: #F3F3F3;
}

/* 系统文本消息 */
.message-list-item-system {
}

/* 用户文本消息 */
.message-list-item-user {
    border-radius: 8px;
}

/* 图片消息 */
.message-list-item-image {
    width: 100%;
    height: auto;
}

/* 多媒体消息中的文本消息 */
.message-list-item-text {
    background-color: #686c88;
}

/* 视频消息 */
.message-list-item-video {
    width: 100%;
    height: auto;

}

/* 音频消息,在页面上是隐藏的 */
.message-list-item-audio {
    width: 100%;
    height: auto;
}

/* 音频自定义 */
.audio-define {
    position: relative;
    border: solid 1px blue;
    border-radius: 7px;
    width: 50%;
    padding: 5px;
    margin: 0.5rem;
    color: #1c6897;

    -webkit-box-shadow: inset 0 0 5px white;
    -moz-box-shadow: inset 0 0 5px white;
    box-shadow: inset 0 0 5px white;
}

/* audio已读 */
.audio-define-read {
    border: solid 2px #878787;
}

.audio-duration {
    display: inline-block;
    margin-left: 1rem;
    text-align: right;
}

/* 相关课程推荐 */
.course-recommendation-div {
    padding: 0.5rem;
    border: solid 1px grey;
    min-height: 5rem;
}

.recommendation-title {
    text-align: center;
    color: #577581;
}

.recommendation-list {
    background-color: #e9e9e9;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.recommendation-item {
    font-size: 0;
    border-bottom: solid 1px white;
    margin-top: 0.5rem;
}
.recommendation-item > span:nth-child(1){
    font-size: 1rem;
    color: #3861b5;
}
.recommendation-item:first-child {
    margin-top: 0;
}
.recommendation-item:last-child {
    border-bottom: 0;
}

.recommendation-item-type {
    padding: 2px;
    font-size: 0.8rem;
    display: inline-block;
    color: #dc8e3e;
    border-radius: 5px;
    border: solid 1px #dc8e3e;
}

.recommendation-item-title {
    color: #56737f;
    padding: 3px;
    margin-left: 0.5rem;
    font-size: 1rem;
}

/* 审查 */
.course-examine-div {
    margin: 0.5rem;
    padding: 0.5rem;
    -webkit-box-shadow: 0 0 3px grey;
    -moz-box-shadow:  0 0 3px grey;
    box-shadow:  0 0 3px grey;
}