@charset "UTF-8";
/* 查看所有直播聊天室页面 */
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif; }

html {
  font-size: 16px; }

a {
  color: #497ae4; }

#total {
  margin-bottom: 1rem;
  min-height: 20rem; }

#upAndDown {
  text-align: center; }

.nav-tabs-border {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  height: auto;
  background-color: rgba(225, 235, 253, 0.75); }

/* 课程搜索 */
.broadcast-search-div {
  text-align: right;
  font-size: 0;
  margin-right: 1rem;
  margin-top: 1rem; }

.broadcast-search-text {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  width: 1rem;
  height: 1.5rem;
  border-radius: 2px 0 0 2px; }

/* 动画 */
.broadcast-search-animation {
  -webkit-animation: searchInputSwitch;
  -o-animation: searchInputSwitch;
  animation: searchInputSwitch;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

.broadcast-search-button {
  display: inline-block;
  vertical-align: top;
  background-color: #00a800;
  overflow: hidden;
  color: white;
  font-size: 0.8rem;
  border-radius: 2px;
  line-height: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0 2px 2px 0; }

@keyframes searchInputSwitch {
  0% {
    width: 1rem; }
  100% {
    width: 10rem; } }
.broadcast-search-button:hover {
  background-color: #008e00; }

.jump > span {
  color: #7a181d; }

.jump:active {
  color: blue; }

/* 评测类型 */
.type-item {
  float: left;
  display: none;
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  border: solid 1px #ffffff;
  border-radius: 5px;
  padding: 5px;
  width: 25%;
  box-sizing: border-box;
  background-color: #588ac6; }

.type-item:hover {
  background-color: #426dee;
  font-weight: bold;
  -webkit-transition: background-color 0.3s linear;
  -moz-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  -o-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear; }

/* 不同颜色的shadow */
.shadow-blue {
  -webkit-box-shadow: 0px 0px 5px #081263;
  -moz-box-shadow: 0px 0px 5px #081263;
  box-shadow: 0px 0px 5px #081263; }

.shadow-pink {
  -webkit-box-shadow: 0px 0px 5px pink;
  -moz-box-shadow: 0px 0px 5px pink;
  box-shadow: 0px 0px 5px pink; }

.shadow-grey {
  -webkit-box-shadow: 0px 0px 5px grey;
  -moz-box-shadow: 0px 0px 5px grey;
  box-shadow: 0px 0px 5px grey; }

.shadow-green {
  -webkit-box-shadow: 0px 0px 5px #148036;
  -moz-box-shadow: 0px 0px 5px #148036;
  box-shadow: 0px 0px 5px #148036; }

/* 评测条目 */
.content-item {
  position: relative;
  padding: 0.5rem;
  background-color: #e8ece9;
  margin-top: 1rem;
  border: solid 2px #ffffff;
  margin-bottom: 1rem;
  font-size: 0; }

.teacher {
  color: #577380;
  padding: 2px; }

/* 图钉 */
.push-pin {
  position: absolute;
  top: -0.5rem;
  right: -0.1rem;
  font-size: 1rem; }

/* 条目左边和右边 */
.content-item-left {
  display: inline-block;
  box-sizing: border-box;
  min-height: 4rem;
  height: auto;
  margin-top: 0;
  text-overflow: ellipsis;
  width: 70%;
  overflow: hidden; }

.content-item-right {
  display: inline-block;
  box-sizing: border-box;
  min-height: 4rem;
  height: auto;
  width: 30%;
  vertical-align: top; }

/* 类型信息 */
.type-img {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  margin: 5px auto 0;
  border: solid 2px #979797; }

.type-text {
  text-align: center;
  font-size: 1rem;
  text-shadow: 2px 2px 2px #395980;
  color: #f3f3f3; }

.content-item:hover {
  -webkit-box-shadow: 0px 0px 0px #ffffff;
  -moz-box-shadow: 0px 0px 0px #ffffff;
  box-shadow: 0px 0px 0px #ffffff;
  border: solid 2px #c8cbc8;
  box-sizing: border-box;
  -webkit-transition: border 0.4s;
  -moz-transition: border 0.4s;
  -ms-transition: border 0.4s;
  -o-transition: border 0.4s;
  transition: border 0.4s; }

/* 评测标题 */
.content-item-title {
  font-size: 1.1rem;
  border-bottom: solid 1px #bcbfbc;
  word-spacing: 1px;
  letter-spacing: 2px; }

/* 评测描述 */
.content-item-abstract {
  font-size: 1.1rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem; }

/* 评测时间 */
.content-item-date {
  color: #808080;
  margin-bottom: 0; }

.content-item-date > span {
  font-size: 1rem; }

/*回到顶部或底部锚点*/
.page-anchor {
  display: none;
  position: fixed;
  right: 1em;
  bottom: 2em;
  z-index: 100;
  opacity: 0.7; }

/* 数据加载loading信息 */
.loading-info {
  text-align: center;
  color: #737373;
  margin-bottom: 1rem; }

.milky {
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  font-size: 2.5rem;
  color: #fcf6f0;
  text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
  font-weight: bold;
  letter-spacing: 3px;
  word-spacing: 2px;
  text-align: center;
  background: linear-gradient(to bottom, #ece4d9 0%, #e9dfd1 100%);
  padding: 5px 10px;
  border-radius: 10px; }

/*文字特效*/
.box1 {
  text-shadow: 0 0 0 #bcb2bc, 1px 0 0 #ada3ad, 2px 0 0 #9d939d, 3px 0 0 #8e848e, 4px 0 0 #7e747e, 5px 0 0 #6f656f, 6px 0 0 #5f555f, 7px 0 0 #4f454f, 8px 0 7px rgba(0, 0, 0, 0.35), 8px 0 1px rgba(0, 0, 0, 0.5), 0 0 7px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=course_broadcastIndex.css.map */
