body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #eaeaea;
}

html {
    font-size: 16px;
}

a {
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

.total {
    min-height: 400px;
    height: auto;
    bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 5px;
    background-color: #F3F3F3;
    border-top: solid 1px #dcdcdc;
    border-bottom: solid 1px #dcdcdc;
    border-left: solid 3px #f58030;
    border-right: solid 3px #f58030;
}

/* 公司item */
.company-border {
    width: 50%;
    height: auto;
    float: left;
}

.shadow {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000000;
}

.company-item {
    position: relative;
    margin: 0.5rem auto;
    width: 150px;
    height: 150px;
    border: solid 1px gray;
    background: url("/images/testType/communication.jpg") no-repeat;
    background-size: cover;

    -webkit-box-shadow:  0 0 0 0;
    -moz-box-shadow:  0 0 0 0;
    box-shadow:  0 0 0 0;

    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
}

.company-item:hover {

    border: solid 1px #df742d;

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.company-title {
    position: absolute;
    color: white;
    opacity: 1;
    bottom: 0.2rem;
    margin: 0.5rem;
    padding: 3px;
    background-color: rgba(28, 104, 151, 0.7);

    -ms-word-wrap:break-word;
    word-wrap:break-word;
    -ms-word-break: break-all;
    word-break: break-all;

}

/* 顶部标识 */
/* 强制不换行 */
.content-marker-div {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-marker {
    text-align: center;
    padding: 2px;
    white-space: nowrap;
    font-size: 1rem;
    vertical-align: middle;
    background-color: #e57a4a;
    overflow: hidden;
    color: #ffffff;
    border: solid 1px white;
    border-left: solid 2px #1c6897;
}

/* 页脚导航 */
.nav-footer {
    position: absolute;
    bottom: 0;
    background-color: #3f545d;
    width: 100%;
    font-size: 0;
}

.nav-footer-border {
    text-align: center;
}

.nav-footer-item {
    background-color: #577581;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    min-width:  25%;
    width: auto;
    min-height: 1.5rem;
    height: auto;
    line-height: 1.5rem;
    text-align: center;
    border: solid 1px #cecece;
    color: #f5f9f6;

    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.nav-footer-item > a{
    color: #5f5f5f;
}

.nav-footer-item > a:hover{
    color: #ffffff;
}

.nav-footer-item:hover {

    text-shadow:  3px 2px 2px #1c6897;
    color: #ffffff;
    border-top: solid 1px #648393;
    background-color: #d1dbee;

    -webkit-transform: translate(0, -8px);
    -moz-transform: translate(0, -8px);
    -ms-transform: translate(0, -8px);
    -o-transform: translate(0, -8px);
    transform: translate(0, -8px);
}


/* 中间部分 */
.nav-footer-center {
    width:  40%;
}

/**
* css的px不等同于设备的px
* 1080p的安卓手机width=360px
 **/

/* 媒体查询 */
@media screen and (max-width: 300px) {
    .company-border {
        width: 100%;
        height: auto;
        float: left;
    }

    .company-item {
        position: relative;
        margin: 0.5rem auto;
        width: 200px;
        height: 200px;
        border: solid 1px gray;
        background: url("/images/testType/communication.jpg") no-repeat;
        background-size: cover;

        -webkit-box-shadow:  0 0 10px #134b6e;
        -moz-box-shadow:  0 0 10px #134b6e;
        box-shadow:  0 0 10px #134b6e;

        transition:All 0.3s ease-in-out;
        -webkit-transition:All 0.3s ease-in-out;
        -moz-transition:All 0.3s ease-in-out;
        -o-transition:All 0.3s ease-in-out;
    }
}