@charset "UTF-8";
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f8ffff; }

html {
  font-size: 16px; }

a {
  color: #00B7FF; }

/*首部 header*/
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  padding: 5px;
  width: 100%;
  min-height: 1.5rem;
  height: auto;
  font-size: 0;
  background-color: #588ac6;
  border-bottom: solid 1px white; }

.header-label {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  text-shadow: 0px 0px 10px #456d9c;
  line-height: 1.5rem; }

.header-label span {
  text-shadow: 0 0 0; }

.return-home {
  position: absolute;
  right: 1rem;
  color: #8bcaed;
  font-size: 1.5rem; }

/* 评测介绍主体部分 */
.detail-head {
  min-height: 10rem;
  height: auto;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  background-color: #648393; }

.detail-head-img {
  background: url("/images/testType/character.jpg") no-repeat;
  background-size: cover;
  border: solid 1px white;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin: 1rem auto 1rem;
  -webkit-box-shadow: 0px 0px 10px white;
  -moz-box-shadow: 0px 0px 10px white;
  box-shadow: 0px 0px 10px white; }

.detail-head-type {
  text-align: center;
  color: white; }

.detail-head-title {
  text-align: center;
  color: #f3ffff;
  font-size: 1.4rem;
  text-shadow: 2px 2px 1px #000; }

.detail-head-other {
  margin-top: 1rem;
  text-align: center;
  display: block; }

/* 首部其它信息 */
.other-date {
  height: 2rem;
  line-height: 2rem;
  color: white;
  background-color: #3b3d3b;
  text-align: center;
  width: 50%;
  float: left; }

.other-read {
  height: 2rem;
  line-height: 2rem;
  color: white;
  background-color: #3b3d3b;
  width: 50%;
  text-align: center;
  float: right;
  word-spacing: 2px;
  letter-spacing: 2px; }

.detail-body {
  width: 95%;
  border-radius: 5px;
  height: auto;
  min-height: 10rem;
  margin: 0.5rem auto 2rem;
  background: #7aa0b4; }

.detail-body-abstract {
  padding: 0.5rem; }

.abstract {
  text-align: center;
  font-size: 1.2rem;
  word-spacing: 1px;
  letter-spacing: 1px;
  min-height: 8rem;
  font-weight: bold;
  color: #f0f0f0; }

/* 开始按钮 */
#startDiv {
  text-align: center;
  margin: 0.5rem auto 0.5rem; }

/* 标签区域 */
.detail-tags-div {
  text-align: center;
  font-size: 0; }

.tag-item {
  position: relative;
  font-size: 1rem;
  margin: 5px;
  display: inline-block;
  padding: 3px;
  color: #009c00;
  font-weight: bold;
  border: solid 2px #009c00;
  border-radius: 5px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  transform: rotate(7deg); }

.tag-item:hover, .tag-item:active {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused; }

.tag-change-animation {
  -webkit-animation: tag-change 2s linear 0s infinite forwards;
  -o-animation: tag-change 2s linear 0s infinite forwards;
  animation: tag-change 2s linear 0s infinite forwards; }

.tag-change-reverse-animation {
  -webkit-animation: tag-change-reverse 2s linear 0s infinite forwards;
  -o-animation: tag-change-reverse 2s linear 0s infinite forwards;
  animation: tag-change-reverse 2s linear 0s infinite forwards; }

@keyframes tag-change {
  0% {
    color: #009c00;
    border: solid 1px #009c00;
    top: 0; }
  25% {
    color: #54b7bc;
    border: solid 1px #54b7bc; }
  50% {
    color: #755cbc;
    border: solid 1px #755cbc;
    top: -2px; }
  75% {
    color: #d07233;
    border: solid 1px #d07233; }
  100% {
    color: #009c00;
    border: solid 1px #009c00;
    top: 0; } }
@keyframes tag-change-reverse {
  0% {
    color: #009c00;
    border: solid 1px #009c00;
    bottom: 0; }
  25% {
    color: #d07233;
    border: solid 1px #d07233; }
  50% {
    color: #755cbc;
    border: solid 1px #755cbc;
    bottom: -2px; }
  75% {
    color: #54b7bc;
    border: solid 1px #54b7bc; }
  100% {
    color: #009c00;
    border: solid 1px #009c00;
    bottom: 0; } }
/*文字特效*/
.box1 {
  text-shadow: 0 0 0 #bcb2bc, 1px 0 0 #ada3ad, 2px 0 0 #9d939d, 3px 0 0 #8e848e, 4px 0 0 #7e747e, 5px 0 0 #6f656f, 6px 0 0 #5f555f, 7px 0 0 #4f454f, 8px 0 7px rgba(0, 0, 0, 0.35), 8px 0 1px rgba(0, 0, 0, 0.5), 0 0 7px rgba(0, 0, 0, 0.2); }

/*# sourceMappingURL=test_detail.css.map */
