body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

a {
    color: #00B7FF;
}

/* footer */
.footer {
    margin-top: 1rem;
    margin-bottom: 5px;
    padding: 0.5rem;
    text-align: center;
    min-height: 2rem;
    bottom: 0;
    border-top: solid 1px #6095d8;
    background-color: white;
}

/* 脚部图片 */
.footer-img {
    display: inline-block;
    background: url("/images/icons/Ciitec.jpg") no-repeat;
    background-size: cover;
    width: 5rem;
    height: 2rem;
    margin: 0 auto;
}

/* 脚部文本 */
.footer-text {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    color: #3b3d3b;
}

/* 主要内容部分 */
.total {
    min-height: 20rem;
    height: auto;
}

/* 筛选域 */
.total-condition {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    -webkit-box-shadow:  0 0px 10px #60606a;
    -moz-box-shadow:  0 0px 10px #60606a;
    box-shadow:  0 0px 10px #60606a;
}

.condition-testType,
.condition-testTitle,
.condition-number {
    marin-top: 1rem;
    margin-bottom: 1rem;
}

.condition-testTitle > input{
    width: 50%;
    font-size: 1.5rem;
}

.condition-testType {
    font-size: 1.6rem;
}

.condition-number {
    fon-size: 1.6rem;
}

/* 所有数据 */
.total-tests {
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    -webkit-box-shadow: 0 0px 10px #626262;
    -moz-box-shadow: 0 0px 10px #626262;
    box-shadow: 0 0px 10px #626262;
}

/* 删除和编辑 */
.delete {
    color: #b40000;
}
.edit {
    color: #3e4abb;
}

/* 测试类型 */
.title {
    margin-top: 1.2rem;
    margin-bottom: 1em;
    font-size: 1.5rem;
    padding: 2px;
    background-color: #c2c6c1;
    color: #676767;
    text-align: center;
}

/* 提交区域 */
.submit-div {
    text-align: right;
}

/* testTitle输入框 */
#testTitle {
    border-radius: 5px;
}

/* number输入框 */
#number {
    border-radius: 5px;
}

/* 标题指引 */
.legend {
    padding: 5px;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: #acacac;
    color: #ffffff;

    -webkit-box-shadow:  2px 2px 0 #cb5730;
    -moz-box-shadow:  2px 2px 0 #cb5730;
    box-shadow:  2px 2px 0 #cb5730;
}


/** 模态弹窗数据预览 **/

/* 某道题目预览列表 */
.preview-list {

}

/* 列表里面的一道题目 */
.preview-item {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    background-color: #c2c6c1;
    min-height: 10rem;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

/* 编号 */
.item-number {
    text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
}

/* 标题 */
.item-title {
    font-weight: bold;
    font-size: 1.5rem;
}

/* 所有选项 */
.item-choises {
    margin-top: 0.5rem;
}

/* 其中一个选项 */
.choise {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 5px;
}

